node_modules
authorization.config.js
.DS_Store
coverage
client/dist/bundle.js
bundle.js
client/src/components/relatedProducts/dummyData.js
aws-key.pem
PrimaryKey.pem
client/dist/bundle.js.LICENSE.txt
client/dist/244.bundle.js.LICENSE.txt
/*.pem