#ratings-reviews-main-container {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  width: 98%;
  padding-top: 10px;
  margin-bottom: 50px;
  overflow: hidden;
  box-sizing: border-box;
}


#ratings-reviews-header {
  text-transform: uppercase;
  display: block;
  height: 35px;
  padding-left: 12px;
}

#ratings-reviews-header h3 {
  font-weight: 800;
  font-size: 25px;
}

/* Both review list and breakdown */
#breakdown-reviewlist-content {
  display: flex;
  /* border: 1px solid black; */
  justify-content: flex-start;
  /* margin: auto; */
}


#rating-breakdown-container {
  /* width: 30%; */
  min-width: 375px;
  padding: 0 10px;
  /* border: red 1px solid; */
}