
.per-characteristic-box {
  display: flex;
  flex-direction: column;
  /* align-content: space-between; */
  /* justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start; */
  border: yellowgreen 3px solid;
  width: 100%;
}

.per-characteristic-box input[type='radio'] {
  cursor: pointer;
}

.center-one, .center-one, .center-one, .o-right-one, .to-right-two, .to-right-three, .to-right-four, .to-right-five {
  border: 1px solid black;
}

.per-characteristic-box input[type='radio'] {
  display: none;
}
/* .per-characteristic-box .wr-char-input-box {
  text-align: center;
} */
.wr-char-radio-box {
  display: flex;
  justify-content: space-between;
  border: red 3px solid;
  padding-top: 5px;
}

.wr-char-input-box {
  position: relative;
  font-size: 14px;
  border: 1px solid #3A3E40;
  border-radius: 8px;
  padding: 5px;
  display: inline-block;
  min-width: 60px;
  text-align: center;
}

.wr-char-input-box:before {
  position: absolute;
  content: '';

}

/*
.bars-container-center {
  background-image: linear-gradient(to right, #fefefe, orange, #fefefe);
  height: 8px;
  display: flex;
  justify-content: space-between;
}

.bars-container-right {
  background-image: linear-gradient(to right, #fefefe 5%, orange );
  height: 8px;
  display: flex;
  justify-content: space-between;
} */