.RelatedItems {
  /* height: auto; */
  /* width: 100%; */
  /* background-color: seashell; */
  margin-left: 10%;
  margin-right: 10%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 5%;
  /* position: absolute; */
  margin-top: 5%;
}


.LoadingComponent {
  height: 450px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  animation: fadein .5s;
}

.LoadingComponent-animation {
}

.RelatedItems h2 {
  margin-bottom: 8px;
  letter-spacing: .08em;
}

.RelatedItems-carousel-placeholder {
  display: flex;
  align-items: flex-start;
  justify-content: left;
}

.ProductCard {
  display: grid;
  grid-template-rows:67% 33%;
  height: 430px;
  width: 24.3%;
  flex: none;
  text-align: center;
  padding: 6px;
  cursor: pointer;
  animation: fadein .3s;
  border-bottom: 2px solid transparent;
}

.ProductCard:hover {
  opacity:90%;
  transition: opacity 0.7s;
  border-image: linear-gradient(90deg, white 0%, #fefefe 5%, #CCC 30%, #adb2b6 50%, #CCC 70%, #fefefe 95%, white 100%) 1;
  border-bottom: 2px solid;

}

.ProductCard:hover .ProductCard-product-information-category {
  display: none;
}

.ProductCard:hover .ProductCard-product-information-name {
  display: none;
}

.ProductCard:hover .ProductCard-product-information-price {
  display: none;
}

.ProductCard:hover .ProductCard-product-information-price-discounted {
  display: none;
}

.ProductCard:hover .ProductCard-product-information-rating {
  display: none;
}



.ProductCard-primary-img {
  width: 95%;
  height: 100%;
  object-fit: cover;
}

.ProductCard-product-information {
  text-align: left;
  background-color: white;
  padding-left: 5%;
  animation: fadein .4s;
}


.ProductCard-product-information-name {
  margin: 0 0 3px 0;
  letter-spacing: .12em;
}

.ProductCard-product-information-category {
  color: #ccc;
}

.ProductCard-product-information-rating {
  margin-bottom: 0;
}

.ProductCard-product-information-price {
  margin: 0 0 15px 0;
}

.ProductCard-product-information-price-discounted {
  margin: 0;
  text-decoration: line-through;
}

.ProductCard-product-information-sale-price {
  margin: 0;
  color: red;
}

.ProductCard-product-information-name {
  margin: 0 0 3px 0;
}

.ProductCard-action-icon-background {
  position: relative;
  width: 100%;
  text-align: right;
  margin-right: 45px;
  float: right;
  background-color: cadetblue;
  z-index: 10;
}

.ProductCard-action-icon {
  float: right;
  margin-top: 7px;
  position: absolute;
  background-color: #fefefe;
  text-align: right;
  padding: 3px;
  border-radius: 100%;
}

.ProductCard-action-icon:hover {
  color: #fefefe;
  background: #3A3E40;
  animation: fadein .2s;
}

.ThumbnailCarousel {
  align-items: center;
  width: auto;
  display: none;
  max-height: 0;
  margin-top: 5px;
  height: auto;
  grid-auto-rows: auto;
  grid-template-rows: 60px 1fr;
  align-items: center;
  justify-items: center;
}

.ProductCard:hover .ThumbnailCarousel {
  display: grid;
  /* transition: all .5s ease-in-out; */
  line-height: 0;
  padding: 0 1em;
  color: transparent;
}

.ProductCard:hover .ThumbnailCarousel-row {
  transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}



.ThumbnailCarousel-img-cell {
  height: 40px;
  border: .8px solid #ccc;
  border-radius: 4px;
  width: 40px;
  z-index: 4;
}

.ThumbnailCarousel-img-cell:hover {
  border: 2px solid black;
  border-radius: 4px;
  transform: scale(1.1) translateY(2px);
}

.ThumbnailCarousel-img-cell:hover .ProductCard-primary-img {
  filter: blur(5px);
}

.ThumbnailCarousel-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 45px;
  width: 70%;
}

.CardCarousel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  animation: fadein .7s;
}

.CardCarousel-Scroller {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: 80%;
}

.CardCarousel-Scroller::-webkit-scrollbar {
    width: 0px;
    background: transparent
}

.material-icons {
  cursor: pointer;
}

.AddToLooksCard {
  height: 425px;
  width: 24.3%;
  background-color: rgb(150, 150, 150);
  cursor: pointer;
  flex: none;
  text-align: center;
  color: #fefefe;
  margin-top: 5px;
  margin-left: 5px;
  border: .5px solid transparent;
}

.AddToLooksCard:hover {
  border: .5px solid rgb(33, 33, 33);
  color: #3A3E40;
}

.AddToLooksCard-p {
  letter-spacing: .05em;
}

.AddToLooksCard-Icon {
  font-size: 80px;
  text-align: center;
  margin-top: 40%;
}

#add_box {
  font-size: 46px;
}

.Looks {
  height: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.Looks h2 {
  margin-bottom: 8px;
  letter-spacing: .08em;
}

.CardCarousel-Arrows {
  position: absolute;
  width: 77%;
  z-index: 8;
}

.CarouselArrow-forward {
  width: 45px;
  height: 45px;
  margin: 0;
  padding: 0;
  float: right;
  text-align: center;
  background-color: #fefefe;
  border-radius: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein .5s;
}

.CarouselArrow-forward:hover {
  border: .8px solid #3A3E40;
  color: #fefefe;
  background-color: #6C8789;
  animation: fadein .2s;
  transition: all ease-in-out 200ms
}

.CarouselArrow-back:hover {
  border: .8px solid #3A3E40;
  color: #fefefe;
  background-color: #6C8789;
  animation: fadein .2s;
  transition: all ease-in-out 200ms
}

.CarouselArrow-back {
  margin-left: 5px;
  height: 45px;
  width: 45px;
  background-color: #fefefe;
  z-index: 10;
  text-align: right;
  margin: 0;
  padding: 0;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadein .3s;
}

.icon-back {
  margin-left: 8px;
}

.ProductComparison {
  width: 40%;
  height: auto;
  background-color: #fefefe;
  z-index: 101;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 1px solid #3A3E40;
  padding: 30px 0 30px 0;
  position: relative;
  top: 20%;
  left: 25%;
}

.ProductComparison h4 {
  color: #3A3E40;
  letter-spacing: .08em;
}

.ProductComparison-headings {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  width: 100%;
  margin-bottom: 10px;
  letter-spacing: .05em;
}

.ComparisonTable {
  width: 90%;
  overflow-y: scroll;
}

.ComparisonTable::-webkit-scrollbar {
  width: 0px;
  background: transparent
}

.ComparisonTable-row {
  display: grid;
  grid-template-columns: 18% 64% 18%;
  margin-bottom: 7px;
  letter-spacing: .08em;
}

.ComparisonTable-characteristic {
  border-image: linear-gradient(90deg, white 0%, #fefefe 5%, #CCC 30%, #adb2b6 50%, #CCC 70%, #fefefe 95%, white 100%) 1;
  border-right: .3px solid;
  border-left: .3px solid;
}

.ProductComparison-row-spacer {
  letter-spacing: .07em;
}

.ProductComparison-overlay {
  background-color: rgba(0, 0, 0, .4);
  position: fixed;
  width:100vw;
  height:100vh;
  top:0px;
  left:0px;
  z-index:100;
  overflow: auto;
  animation: fadein .7s;
  backdrop-filter: blur(5px)
}

@keyframes fadein {
  from { opacity: 0; }
  to   {opacity: 1;}
}