.primary1{
  color:
}

.secondary1 {
  color: #6C8789;
}

.terciary1 {
  color: #CCC;
}

.backgroundcolor1 {
  background-color: #fefefe;
}

.dark1 {
  color: #3A3E40
}

.model1 {
  background-color: rgba(164, 163, 163, 0.33);
}