.Footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #6C8789;
  color: black;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 14px;
}

.Footer a {
  color: #fefefe;
}

.Footer p {
  margin: 10px 0 10px 0
}
